/*
* @Author: Xugai
* @Date:   2019-02-07 11:03:01
* @Last Modified by:   Xugai
* @Last Modified time: 2019-02-07 11:12:20
*/
.category-select{
	width: 200px;
	margin-right: 5px;
	display: inline-block;
}