/*
* @Author: Xugai
* @Date:   2019-02-05 23:46:47
* @Last Modified by:   Xugai
* @Last Modified time: 2019-02-10 15:57:39
*/
.btn-primary{
	margin-right: 10px;
}
.fa-plus{
	margin-right: 2px;
}
.oper{
	margin-right: 5px;
	cursor: pointer;
}
.search-wrapper{
	margin-bottom: 10px;
	.form-control{
		margin-right: 8px;
	}
}