/*
* @Author: Xugai
* @Date:   2019-02-10 22:04:42
* @Last Modified by:   Xugai
* @Last Modified time: 2019-02-10 22:13:16
*/
img{
	display: block;
	width: 80px;
	height: 80px;
}
.sendGoods{
	margin-left: 10px;
}